.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #6a6a6a;
  height: 100vh;
}

.input {
  margin-top: 40px;
  width: 250px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 77px;
  border: 1px solid #8706a7;
  background: #fff;
  box-shadow: 7px 6px 4px 0px rgba(0, 0, 0, 0.25);
  padding-left: 50px;
}
.Ncontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}
.note {
  width: 250px;
  padding-left: 20px;
  margin: 30px;
  padding: 10px;
  height: 200px;
  border-radius: 30px;
  border: 1px solid #8706a7;
  background: #fff;
  box-shadow: 7px 6px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.h1{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 25px;
}
.p{
  margin: o;
  padding: 0;
  height: 100px;
}
.button{
  color: red;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 30px;
  background-color: white;
}
.bcontainer{
  display: flex;
  justify-content: flex-end;
}