.container{
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: linear-gradient(145deg, #6cc6fa 10%, #fc46f6 );
}
.form{
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 4px 5px 4px 0px #5e5e5e;
    border-radius: 20px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.login h1{
    width: 500px;
    text-align: center;
    margin-top: 70px;
    font-family: sans-serif;
    color:  #6e0169;
}
.input{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.inputUsername, .inputPassword{
    height: 35px;
    margin: 10px 0 10px 0;
    width: 300px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #f265ff;
    border-radius: 10px;
    outline: none;
}
.inputError{
    height: 35px;
    margin: 10px 0 10px 0;
    width: 300px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #fa0303;
    border-radius: 10px;
    outline: none;
}
input::placeholder{
    font-family: sans-serif;
    font-size: 15px;
}
.button{
    width: 130px;
    height: 45px;
    border-radius: 50px;
    margin-top: 10px;
    font-size: 17px;
    background-color: aqua;
    color: #2e2d2d;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(145deg, #6cc6fa 30%, #fd5df8 );
}